
.carousel{
    height: 600px;
    width: 100%;
}

#home-container{
    text-align: center;
    height: 100%;
}

h2{
    font-size: 40px;
    margin: 20px 0;
}

.carousel-item{
    height: 600px;
}
#body{
    margin: 0 30% 40px 30%;
    text-align: center;
}