#header-container{
    background-color: white;
    justify-content: space-around;
    display: flex;
    height: 70px;
}

.nav-link{
    color: black;
    margin-top: 10px;
}

h1{
    margin-top: 8px;
}

a{
    color: black;
}